* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

select, input[type="text"] {
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  padding: 8px 12px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #303030;
}

header {
  padding-block: 23px;
  background-color: #2965f1;
}

header span {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.main-section {
  background-color: #fafaff;
  padding-block: 60px;
  min-height: 100vh;
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  color: #303030;
  margin-bottom: 20px;
}

.main-text {
  font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
  background-color: #fff;
  padding-block: 100px;
}

select {
  width: 150px;
  font-weight: 400;
  background: url("./assets/img/arrow-down.svg") no-repeat right 14px center;
  appearance: none;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.frameworks-list {
  list-style-image: url("./assets/img/solar_map-arrow-up-bold.svg");
  padding: 0 20px;
}

.books-list {
  padding: 0 20px;
}

.label {

}

.text-field {
  width: 330px;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 36px;
  background-color: #2965f1;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.line {
    margin-block: 60px;
}

table {
  border-collapse: collapse;
  font-weight: 400;
  font-size: 14px;
}

th, td {
  border: 1px solid #95a1bb;
  padding: 12px 15px;
}

footer {
  background-color: rgba(163, 167, 255, 0.3);
  padding-block: 26px;
}

.footer-link {
  font-size: 14px;
  color: #2965f1;
  text-decoration: none;
}